#home {
    background-color: var(--peach-beige);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--british-racing-green);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 5px solid black;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option {
    padding-right: 20px;
}

.hero {
    background-color: var(--british-racing-green);
    height: 74vh;
    max-width: 100%;
    z-index: -1;
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border: 5px solid black;
}

footer {
    background-color: black;
    align-items: center;
}

.footer-logo {
    height: 100px;
}