body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--dark-green);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--osage-orange);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.title-logo {
    padding-left: 20px;
    color: var(--spanish-orange);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
}

.option {
    padding-right: 20px;
    color: var(--dark-green);
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 70px;
}

#background-video {
    position: absolute;
    height: 91%;
    object-fit: cover;
    z-index: 0;
}

.hero-landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    align-items: center;
    gap: 150px;
}

.hero-landing p span {
    display: inline-block;
    font-size: 75px;
    margin: 10px;
    font-family: 'Inter';
    color: var(--osage-orange);
    background-color: rgba(0, 0, 0, .5);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.hero-landing button {
    font-size: 50px;
    font-family: 'Inter';
    border: 5px solid var(--osage-orange);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--osage-orange);
    background-color: rgba(0, 0, 0, .5);
    border-radius: 25px;
}

footer {
    background-color: black;
    align-items: center;
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top: 5px solid var(--spanish-orange);
}

.footer-logo {
    height: 100px;
}